<html>
  <head>
    <title>Metadata Editor</title>
    <link rel="stylesheet" href="index.css"></link>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>
    <script src="oauth.min.js"></script>
  </head>
  <body>
    <div id="header">
      <img src="logo.png"/>
      <h1>g0v metadata editor</h1>
      <p>
      The form below will help you build a valid g0v.json file.
      Fill out all of the required fields (marked by a star) and any others.
      Next, you can click the buttons at the bottom of the page to render and create a Pull Request to target repository.
      </p>
    </div>
    <div id="app">
      <div>
        <label>Repo (ooo/xxx):</label> <input v-model="repo">
      </div>
      <div v-for="i in schema">
        <label><span v-if="!i.optional">*</span>{{ i.label }}: </label><input type="{{i.type}}" name="{{i.name}}" placeholder="{{i.placeholder}}" value="{{i.prefill}}">
      </div>
      <br />
      <div class="submit" v-if="logged_in">
        <div v-if="submitting">
          <button class="submitting">建立中...</button>
        </div>
        <div v-else>
          <button id="submit-button" v-on:click="submit" type="submit">建立 Pull Request</button>
        </div>
      </div>
      <div class="submit" v-else>
        <button v-on:click="login">用 github 登入以建立 Pull Request</button>
      </div>
      <pre>
        {{ result }}
      </pre>
    </div>
  </body>

  <script src="schema.js"></script>
  <script src="index.js"></script>
</html>
